/* gg sans font-face definitions */

@font-face {
    font-family: 'gg sans';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/gg sans Bold.woff') format('woff');
}

@font-face {
    font-family: 'gg sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/gg sans Regular.woff') format('woff');
}

@font-face {
    font-family: 'gg sans';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/gg sans Medium.woff') format('woff');
}

@font-face {
    font-family: 'gg sans';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/gg sans Semibold.woff') format('woff');
}