@import "tailwindcss";

@theme {

    /* Shade Colors */
    --color-shade1: #6665f1;
    --color-shade2: #875cf5;
    --color-secondary: #292826;

    --color-grade1: #1e1e1e;
    --color-grade2: #080707;

    /* Main Colors */
    --color-mainCR: #0f172a;
    --color-navBG: #1e293b;
    --color-sideBG: #3b82f6;

}

@layer utilities {
    .font-poppins {
        font-family: "Poppins", serif;
    }

    .font-gg {
        font-family: 'gg sans', sans-serif;
    }
}